<mat-toolbar color="primary">
  <ng-container *ngIf="isAdmin === 'admin'">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </ng-container>
  <span><a routerLink="/home">My APP</a></span>
  <span class="spacer"></span>
  <a *ngIf="!isLogged; else viewLogout" mat-button routerLink="/login">Login</a>
  <!-- <a *ngIf="isAdmin === 'admin'" mat-button routerLink="/admin">Admin</a> -->
</mat-toolbar>

<ng-template #viewLogout>
  <div *ngIf="(authSvc.user$ | async) as user">
    <span>Welcome, </span>
    <!-- Este Link  espara que el Suscriptor o El Admin pudan editar sus Cuentas -->
    <a mat-button>{{ user?.username || 'User' }}</a>
  </div>
  <a mat-button (click)="onLogout()">Logout</a>
</ng-template>
