.login-form {
  padding: 4rem 1rem;

  mat-card {
    max-width: 300px;
    margin: 2rem auto;
    text-align: center;
    height: 350px;
  }

  .full-width-input,
  button {
    width: 100%;
  }

  .separator {
    margin-bottom: 2rem;
  }






}
